
!!! 5
html(lang='en')
  head
    title Tapr
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
  body
    h1 Welcome to Tapr, #{user.name}
    div
      a(href='/logout') logout
    div Tapr connects you.
    h1
      a(href='/tap')  TAP
    ul(id='matches') Matches 
      a(href='/') Reload
      - matches.forEach(function(match){
        li 
          a(href='#{match.user.link}') #{match.user["name"]}
          | : #{match.score}
      - })
